Flask
Flask-SocketIO
gevent
greenlet
gunicorn
mysql-connector-python
redis
python-dotenv
Flask-Limiter

# web: gunicorn -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker app:app -w 1 --timeout 120
