Flask==3.0.0
flask-socketio==5.3.6
eventlet==0.33.3
mysql-connector-python==8.3.0
gunicorn==21.2.0
redis==5.0.1
python-dotenv==1.0.1
flask-limiter==3.5.0


# web: gunicorn app:app --worker-class eventlet -w 1 --timeout 120
